<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blog_post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog_post.content %>
</p>

<p>
  <strong>Date:</strong>
  <%= @blog_post.date %>
</p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
