<div class="row">
  <div class="col-xs-12">

    <%= form_for(@item, :html => {class:"form-horizontal", role:"form"}) do |f| %>
    <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
     </ul>
    </div>
    <% end %>
    <div class="fields">
      <div class="field" id="field1">
         <div class ="form-group">  
            <div class="control-label col-sm-2">
                <%= f.label :name %>
            </div>
            <div class="col-sm-8">
               <%= f.text_field :name,class: "form-control", placeholder: "Name of item",autofocus:true %>
            </div>    
          </div>
       </div>
       <div class="field" id="field2">
         <div class ="form-group">  
         <div class="control-label col-sm-2">
           <%= f.label :description %>
           </div>
           <div class="col-sm-8">
           <%= f.text_area :description,rows:10, class:"form-control", placeholder: "Description of Item", autofocus:true %>
           </div>
       </div>
     <div class="field">
       <div class="form-group">
         <div class="control-label col-sm-2">
           <%= f.label :quantity %>
         </div>
         <div class="col-sm-4">
           <%= f.number_field :quantity %>           
         </div>

     </div>
     <div class="actions">
       <div class ="form-group"> 
         <div class="col-sm-offset-2 col-sm-10">
           <%= f.submit class:"btn btn-primary btn-md" %>   
         </div>
       </div>
     </div>
  </div>
</div>
</div>
<% end %>
