<!DOCTYPE html>
<html>
<head>
  <title>PagesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
  <ul>
    <li><%= msg %></li>
   
  </ul>
 <% end %>
  <%= render 'layouts/navigation' %>
  <div class="container">
 <%= yield %>   
  </div>
  <div class="container">
    <footer class="footer">
      <small>
        An example local program template from MSS design. -Cody Liske
      </small>
      <nav>
        <ul style="list-style:none">
          <li><%= link_to "about", "about" %></li>
          <li><%= link_to "show listings", "items" %></li>
        </ul>
      </nav>
    </footer>
  </div>

</body>
</html>
